.aside
  display: flex
  align-items: center
  padding: 20px

.aside .main
  width: 100%
  display: block

.aside .main *
  padding-bottom: 6px

.chat-container
  margin: 12px

.chat-messages
  height: 72.5vh
  max-height: 72.5vh
  overflow-y: scroll
  display: flex
  flex-direction: column
  flex: 1

.chat-messages
  .msg-container
    display: block
    margin: 6px
  .media
    align-self: flex-end
    //width: 100%
  .media + .media
    margin: 0
    padding: 0
    border-top: none
