.aside
  display: flex
  align-items: center
  padding: 20px

.aside .main
  width: 100%
  display: block

.aside .main *
  padding-bottom: 6px

.chat-container
  margin: 12px

.chat-messages
  height: 75vh
  max-height: 75vh
  overflow: scroll
  display: flex

.chat-messages .media
  align-self: flex-end
